<template>
  <div class="home">
    <div v-if="!!usuario">
      <h3>Bem Vindo(a): {{usuario.nome}}</h3>
    </div>
    <br>
    <button>
      <router-link :to="{ name: 'listagemEstabelecimento' }">Listagem Estabelecimentos</router-link>
    </button>
    <button>
      <router-link :to="{ name: 'listagemUsuarios' }">Listagem Usuarios</router-link>
    </button>
  </div>

</template>

<script>
/* eslint-disable */
import { AXIOS } from "../router/http-common";
import VueRouter from "../router/router-config";

export default {
  name: "home",

  data() {
    let user = JSON.parse(sessionStorage.getItem('usuario'));
    if(!user) {
      VueRouter.replace('login');
    }
    return {
      response: [],
      errors: [],
      usuario: user
    };
  },
  methods: {
  }
};
</script>
