<template>
  <div class="login">
    <h2>LOGIN</h2>

<div>
    <input type="text" v-model="user.emailUsuario" placeholder="Email">
    <input type="password" v-model="user.senhaUsuario" placeholder="Senha">
</div>
<br>
    <button @click="login()">Login</button>
    <button>
      <router-link :to="{ name: 'cadastroUsuario' }">Cadastro</router-link>
    </button>
  </div>

</template>

<script>
/* eslint-disable */
import { AXIOS } from "../router/http-common";
import VueRouter from "../router/router-config";

export default {
  name: "login",

  data() {
    sessionStorage.clear();
    return {
      response: [],
      errors: [],
      user: {
        emailUsuario: "",
        senhaUsuario: ""
      },
      usuario: ""
    };
  },
  methods: {
    // Fetches posts when the component is created.
    login() {
      AXIOS.post(`/login`, this.user)
        .then(response => {
          // JSON responses are automatically parsed.
          if (!!response.data.idUsuario) {
            sessionStorage.setItem(
              "usuario",
              JSON.stringify({
                idUsuario: response.data.idUsuario,
                nome: response.data.nomeUsuario,
                tipoUsuario: response.data.tipoUsuario
              })
            );
            VueRouter.push({ path: "home" });
          }
        })
        .catch(e => {
          this.errors.push(e);
        });
    }
  }
};
</script>
