<template>
  <div class="cadastro">
    <h1>Cadastro de Estabelecimento</h1>

    <div>
      <input type="text" v-model="Estabelecimento.nomeEstabelecimento" placeholder="Nome">
      <input type="text" v-model="Estabelecimento.emailEstabelecimento" placeholder="Email">
      <input type="password" v-model="Estabelecimento.senhaEstabelecimento" placeholder="Senha">
      <input type="text" v-model="Estabelecimento.cidadeEstabelecimento" placeholder="Cidade">
      <input type="text" v-model="Estabelecimento.telefone" placeholder="Telefone">
      <input type="text" v-model="Estabelecimento.horarioAbertura" placeholder="Horário Abertura">
      <input type="text" v-model="Estabelecimento.horarioFechamento" placeholder="Horário Fechamento">
    </div>

    <button @click="createUser()">Criar</button>
    <button>
            <router-link :to="{ name: 'home' }">Voltar</router-link>
          </button>

  </div>
</template>

<script>
/* eslint-disable */
import { AXIOS } from "../../router/http-common";
import VueRouter from "../../router/router-config";

export default {
  name: "cadastro",

  data() {
    return {
      response: [],
      errors: [],
      Estabelecimento: {
        nomeEstabelecimento: "",
        emailEstabelecimento: "",
        senhaEstabelecimento: "",
        cidadeEstabelecimento: "",
        telefone: "",
        horarioAbertura: "",
        horarioFechamento: ""
      }
    };
  },
  methods: {
    // Fetches posts when the component is created.
    createUser() {
      let model = JSON.parse(JSON.stringify(this.Estabelecimento));
      model.horarioAbertura = formataHorario(new Date(model.horarioAbertura));
      model.horarioFechamento = formataHorario(
        new Date(model.horarioFechamento)
      );
      AXIOS.post(`/estabelecimento/cadastro`, model)
        .then(response => {
          // JSON responses are automatically parsed.
          this.response = response.data;
          VueRouter.replace('home');
        })
        .catch(e => {
          this.errors.push(e);
        });
    }
  }
};

let formataHorario = date => {
  return date.getHours() + ":" + date.getMinutes();
};
</script>
