<template>
  <div class="listagemEstabelecimento">
    <h1>Listagem de Estabelecimento</h1>

    <div>
      <table>
    <thead>
      <tr>
        <th>Código</th>
        <th>Nome</th>
        <th>Email</th>
        <th>Cidade</th>
        <th>Telefone</th>
        <th>Abertura</th>
        <th>Fechamento</th>
      </tr>
    </thead>
    <tbody v-for="item in items" :key="item.idEstabelecimento">
        <td >
         {{ item.idEstabelecimento }}
        </td>
        <td >
         {{ item.nomeEstabelecimento }}
        </td>
        <td >
         {{ item.emailEstabelecimento }}
        </td>
        <td >
         {{ item.cidadeEstabelecimento }}
        </td>
        <td >
         {{ item.telefone }}
        </td>
        <td >
         {{ item.horarioAbertura }}
        </td>
        <td >
         {{ item.horarioFechamento }}
        </td>
    </tbody>
  </table>
    </div>

    <button @click="listar()">Listar</button>

    <button>
      <router-link :to="{ name: 'cadastroEstabelecimento' }">Novo</router-link>
    </button>

    <button>
      <router-link :to="{ name: 'home' }">Voltar</router-link>
    </button>

  </div>
</template>

<script>
/* eslint-disable */
import { AXIOS } from "../../router/http-common";

export default {
  name: "listagemEstabelecimento",

  data() {
    this.listar();
    return {
      response: [],
      errors: [],
      items: [
        {
          idEstabelecimento: "",
          nomeEstabelecimento: "",
          emailEstabelecimento: ""
        }
      ]
    };
  },
  methods: {
    // Fetches posts when the component is created.
    listar() {
      AXIOS.get(`/estabelecimento/listar`)
        .then(response => {
          // JSON responses are automatically parsed.
          this.items = response.data;
        })
        .catch(e => {
          this.errors.push(e);
        });
    }
  }
};
</script>
