<template>
  <div class="cadastro">
    <h1>Cadastro de Usuário</h1>

    <div>
    <input type="text" v-model="user.nomeUsuario" placeholder="Nome">
    <input type="text" v-model="user.emailUsuario" placeholder="Email">
    <input type="text" v-model="user.cidade" placeholder="Cidade">
    <input type="password" v-model="user.senhaUsuario" placeholder="Senha">
    </div>

    <button @click="createUser()">Criar</button>
    <button>
      <router-link :to="{ name: 'login' }">Login</router-link>
    </button>

  </div>
</template>

<script>
/* eslint-disable */
import { AXIOS } from "../../router/http-common";

  export default {
    name: 'cadastro',

    data () {
      return {
        response: [],
        errors: [],
        user: {
          nomeCliente: '',
          emailCliente: '',
          cidade: '',
          senhaCliente: ''
        }
      }
    },
    methods: {
      // Fetches posts when the component is created.
      createUser () {
        AXIOS.post(`/usuario/cadastro`, this.user)
          .then(response => {
            // JSON responses are automatically parsed.
            this.response = response.data
          })
          .catch(e => {
            this.errors.push(e)
          })
      },
    }
  }

</script>
