<template>
  <div class="listagemUsuario">
    <h1>Listagem de Usuario</h1>

    <div>
      <table>
    <thead>
      <tr>
        <th>Código</th>
        <th>Nome</th>
        <th>Email</th>
      </tr>
    </thead>
    <tbody v-for="item in items" :key="item.idUsuario">
        <td >
         {{ item.idUsuario }}
        </td>
        <td >
         {{ item.nomeUsuario }}
        </td>
        <td >
         {{ item.emailUsuario }}
        </td>
    </tbody>
  </table>
    </div>

    <button @click="listar()">Listar</button>

    <button>
      <router-link :to="{ name: 'home' }">Voltar</router-link>
    </button>

  </div>
</template>

<script>
/* eslint-disable */
import { AXIOS } from "../../router/http-common";

export default {
  name: "listagemUsuario",

  data() {
    this.listar();
    return {
      response: [],
      errors: [],
      items: [
        {
          idUsuario: "",
          nomeUsuario: "",
          emailUsuario: ""
        }
      ]
    };
  },
  methods: {
    // Fetches posts when the component is created.
    listar() {
      AXIOS.get(`/usuario/listar`)
        .then(response => {
          // JSON responses are automatically parsed.
          this.items = response.data;
        })
        .catch(e => {
          this.errors.push(e);
        });
    }
  }
};
</script>
